<div id="masthead">
  <div class="inner">
    <p>
      Git is a <%= link_to "free and open source", "/about/free-and-open-source" %>
      distributed version control system designed to handle everything from small to
      very large projects with speed and efficiency.
    </p>

    <p>
      Git is <a href="/documentation">easy to learn</a> and has a
      <a href="/about/small-and-fast">tiny footprint with lightning fast performance</a>.
      It outclasses SCM tools like Subversion, CVS, Perforce, and ClearCase
      with features like <a href="/about/branching-and-merging">cheap local branching</a>,
      convenient <a href="/about/staging-area">staging areas</a>, and
      <a href="/about/distributed">multiple workflows</a>.
    </p>

    <p class="promo">
      <img src="/images/trygit.png" height="42" width="42" style="float: left; margin: -2px 4px 0 0;"/> Learn Git in your browser for free with <a href="https://try.github.io">Try Git</a>.
    </p>

    <img class="illustration" src="/images/branching-illustration@2x.png" width="389" height="251" />
  </div> <!-- .inner -->
</div> <!-- #masthead -->
