<footer>
  <div class="site-source">
    This <a href="https://github.com/git/git-scm.com/blob/master/README.md#license">open sourced</a> site is <a href="https://github.com/git/git-scm.com">hosted on GitHub.</a><br>
    Patches, suggestions and comments are welcome.
  </div>
  <div class="sfc-member">
    Git is a member of <a href="/sfc">Software Freedom Conservancy</a>
  </div>
</footer>

<script src="/jquery-1.7.1.min.js"></script>
<script src="/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/jquery.defaultvalue.js"></script>
<script src="/session.min.js"></script>
<script src="/site.js"></script>
